@page "/"

@if (ProductGroups != null)
{
    <div class="card-group">
        @foreach (var group in ProductGroups)
        {
            <h1 class="title">@group.Name</h1>

            <ProductCard Products="group.Products" Orders="Orders" OnProductClicked="OnClicked" />
        }
    </div>
}

@if (Orders != null)
{
    <div class="person-orders-btn">
        <i class="fa-solid fa-bag-shopping" @onclick="() => IsOrdersVisible = !IsOrdersVisible" />
        <div style="display: @(IsOrdersVisible ? "block" : "none")" class="person-orders-content">
            @if (Orders.Count > 0)
            {
                <ul>
                    @foreach (var order in Orders)
                    {
                        <li>
                            <span>@order.Name</span>
                            <button class="person-order-button" @onclick="() => CancelOrder(order)">
                                <i class="fa-solid fa-minus" />
                            </button>
                        </li>
                    }
                </ul>

                <div>
                    Кутия за еднокр. употреба @(Orders.Count)бр @((Orders.Count * 0.20).ToString("0.00"))лв
                </div>
            }
            else
            {
                <span>Все още нямаш поръчки!</span>
            }
        </div>
    </div>
}
