@page "/orders"

@if (PersonOrders != null)
{
    if (PersonOrders.Count > 0)
    {
        <div class="orders-group">
            @foreach (var group in PersonOrders)
            {
                <h1 class="title">@group.Name</h1>

                <ul>
                    @foreach (var order in group.Orders)
                    {
                        <li>
                            <span>@order.Name (</span>
                            @for (int i = 0; i < order.People.Count; i++)
                            {
                                var person = order.People[i];

                                <span>@person.Name</span>

                                @if (person.Count > 1)
                                {
                                    <span style="margin-left: 5px"> @person.Count бр</span>
                                }

                                @if (i != order.People.Count - 1)
                                {
                                    <span>, </span>
                                }
                            }
                            <span>) - @order.Count бр.</span>
                        </li>
                    }
                </ul>
            }
        </div>
    }
    else
    {
        <span>Няма поръчки</span>
    }
}
else
{
    <span>Поръчките зареждат</span>
}
