@page "/orders"

@if (PersonOrders != null)
{
    if (PersonOrders.Count > 0)
    {
        <div class="orders-group">
            <ul>
                @foreach (var group in PersonOrders)
                {
                    @foreach (var order in group.Orders)
                    {
                        <li>
                            <h3>@order.Name</h3>
                            <span>@order.Count @(order.Count == 1 ? "брой" : "броя") - </span>

                            @for (int i = 0; i < order.People.Count; i++)
                            {
                                var person = order.People[i];

                                <span>@person.Name</span>

                                @if (person.Count > 1)
                                {
                                    <span style="margin-left: 5px"> @person.Count бр</span>
                                }

                                @if (i != order.People.Count - 1)
                                {
                                    <span>, </span>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <span>Няма поръчки</span>
    }
}
else
{
    <span>Поръчките зареждат</span>
}
