@page "/orders"

@if (AllOrders != null)
{
    if (AllOrders.Count > 0)
    {
        <div class="orders-group">
            <ul>
                @foreach (var group in AllOrders)
                {
                    string nameUpper = group.Name.ToUpper();
                    string icon = "🥗";

                    if (nameUpper.Contains("СУПИ"))
                    {
                        icon = "🥣";
                    }
                    else if (nameUpper.Contains("МАНДЖИЧКИ"))
                    {
                        icon = "🍲";
                    }
                    else if (nameUpper.Contains("ДЕСЕРТИ"))
                    {
                        icon = "🎂";
                    }
                    else if (nameUpper.Contains("ПРОМОЦИОНАЛНИ ПАКЕТИ"))
                    {
                        icon = "🔝";
                    }
                    else if (nameUpper.Contains("АЛАМИНУТИ"))
                    {
                        icon = "🍳";
                    }
                    else if (nameUpper.Contains("СКАРА"))
                    {
                        icon = "🥓";
                    }
                    else if (nameUpper.Contains("ХЛЯБЪТ"))
                    {
                        icon = "🍞";
                    }

                    @foreach (var order in group.Orders)
                    {
                        <li>
                            <h3 class="title">@icon @order.Name</h3>

                            <div class="info">
                                <div>
                                    <span>@order.Count @(order.Count == 1 ? "брой" : "броя") - </span>

                                    @for (int i = 0; i < order.People.Count; i++)
                                    {
                                        var person = order.People[i];

                                        <span>@person.Name</span>

                                        @if (person.Count > 1)
                                        {
                                            <span style="margin-left: 5px"> @person.Count бр</span>
                                        }

                                        @if (i != order.People.Count - 1)
                                        {
                                            <span>, </span>
                                        }
                                    }
                                </div>

                                @if (Constants.PersonName == "Админ")
                                {
                                    <button class="card-end-btn" @onclick="() => MarkAsUnavailable(order)">Маркирай като изчерпано</button>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>

            <div class="orders-price">
                Общо @(AllOrders.SelectMany(f => f.Orders).Sum(f => (f.Price + f.BoxPrice) * f.Count).ToString("0.00"))лв
            </div>
        </div>
    }
    else
    {
        <span>Няма поръчки</span>
    }
}
else
{
    <span>Поръчките зареждат</span>
}
